@use '../abstracts' as *;

.description {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    margin: 3rem 0;
    display: flex;

    gap: 1.5rem;
    flex-direction: column;
    color: #484848;
    width: clamp(10rem, 90%, 70rem);
  }

  &__title {
    font-size: 28px;
    margin: 0;
  }

  &__text {
    line-height: 1.5em;
  }

  &__btn {
    position: relative;

    width: max-content;
    height: 100%;
    padding: 1rem 1rem;
    color: $white;
    border: none;
    font-size: 1.4em;
    border-radius: 13px;
    cursor: pointer;

    & img {
      transform: rotate(-90deg);
      filter: invert(1);
      width: 25px;
      height: 25px;
    }
  }
}

@media (max-width: 500px) {
  .description__title {
    font-size: 24px;
  }

  .description__text {
    font-size: 15px;
  }

  .description__btn {
    & .btn-text {
      font-size: 14px;
    }
  }
}
