@use '../abstracts' as *;

.dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  user-select: none;

  &:fullscreen {
  }

  &__content {
    position: absolute;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bk {
    inset: 0 0 0 0;
    z-index: 5;
    background-color: #0008;
    opacity: 0;
    position: absolute;
  }

  &__img {
    width: clamp(1px, 100%, 1180px);
    height: clamp(1px, 100%, 660px);
    position: relative;
    z-index: 6;

    &--scale {
      transform: scale(1.4);
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform-origin: top left;
    }
  }

  &__header {
    position: absolute;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
  }

  &__utils {
    display: flex;
    gap: 1rem;
  }

  &__number {
    color: $white;
    filter: brightness(0.9);
  }

  &__prev,
  &__next {
    position: absolute;
    background-color: #00000047;
    top: 50%;
    z-index: 7;
    height: 30px;
    width: 32px;
    background-image: url(../assets/images/utils.svg);
    //background-color: transparent;
    border: none;
    background-position-y: 44px;
    cursor: pointer;
    filter: brightness(0.9);

    &:hover {
      filter: brightness(1);
    }

    &:before {
      content: "";
    }
  }

  &__prev {
    background-position-x: -138px;
    left: 1%;
  }

  &__next {
    background-position-x: -90px;

    right: 1%;
  }

  &__scale,
  &__fullscreen,
  &__exit {
    background-image: url(../assets/images/utils.svg);
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 7;
    filter: brightness(0.9);

    &:hover {
      filter: brightness(1);
    }
  }

  &__scale {
    background-position-x: -89px;

    &--active {
      background-position-x: -133px;
    }
  }

  &__fullscreen {
    &--active {
      background-position-x: -44px;
    }
  }

  &__exit {
    background-image: url(../assets/images/utils.svg);
    width: 40px;
    height: 40px;
    background-position-y: 44px;
  }
}
.anim-in {
  //transform: scale(1) !important;
  animation: an 1s ease forwards;
}

@keyframes an {
  to {
    transform: scale(1);
    top: 0;
    left: 0;
  }
}

@media (max-width: 1200px) {
  .dialog__img {
    height: clamp(1px, 80%, 660px);
  }
}
@media (max-width: 1000px) {
  .dialog__img {
    height: clamp(1px, 70%, 660px);
  }
}
@media (max-width: 800px) {
  .dialog__img {
    height: clamp(1px, 50%, 660px);
  }
}
@media (max-width: 500px) {
  .dialog__img {
    height: clamp(1px, 40%, 660px);
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  .dialog__scale {
    display: none;
  }
}
