// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@use 'abstracts' as *;

@use 'components/navbar';
@use 'components/hero';
@use 'components/details';

@use 'components/searchDialog';
@use 'components/slider';

@use 'components/description';
@use 'components/standarts';

@use 'components/recommend';
@use 'components/footer';
@use 'components/dialog';

/// as * means without namespace just primal-color

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --stripe: 1;
}

a {
  color: $dark;
  text-decoration: none;
}

body {
  background: $white;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button:hover .btn-background {
  transform: scaleY(1.05) scaleX(1.01);
  background-color: #ac000d;
}

.btn-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  background-color: $red;
  transition: all 0.3s ease-in-out;
  transform-origin: 50% 50%;
}

.btn-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: bold;
}

@media (max-width: 770px) {
  .btn-text {
    font-size: 18px;
  }
}
